/* FONTS= https://fonts.google.com/share?selection.family=Bebas%20Neue%7CMontserrat:ital,wght@0,400;0,700;1,400  */
/* Colors
#0D0D0D
#F2F2F2
#7ABFBF
rgba(122, 191, 191, .5)
#EB5428 
*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;700&display=swap');
* {
    box-sizing:border-box;
}
body {
    background-color: rgba(122, 191, 191, .5);
    margin: 0;
}
h1, h2, h3, nav a, nav span, menu li, #social li, footer, footer p {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-size: 20px;
}
h1 {
    font-size: 40px;
    margin: 10px;
}
h2 {
    font-size: 30px;
    margin: 10px;
}
h3 {
    font-size: 25px;
    margin: 10px;
}
p, dd, li, nav, input, dt {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
dt {
    font-weight: 700;
    font-size: 16px;
}
a {
    text-decoration: none;
    color: #EB5428;
}
.no-bullets {
    list-style-type: none;
}
.signin {
    color:#0D0D0D;
    width: 80px;
}
.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    width: 100%;
    justify-content: center;
    grid-template-areas:
        "header"
        "search"
        "main"
        "footer";
}
main {
    background-color: #F2F2F2;
    grid-area: main;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
        "article"
        "dishes";
}
article {
    grid-area: article;
    display: grid;
    grid-template-areas:
        "tacotitle"
        "tacoshell"
        "details"
        "maketaco";
}
#tacoshell {
    display:grid;
    position: relative;
    grid-area: tacoshell;
    grid-template-columns: 10% 40% 50%;
    grid-template-areas:
        "menu tacoimage tacotext";
}
/* menu */
menu {
    grid-area: menu;
    background-color: white;
    border: 2px solid #EB5428;
    justify-content: center;
    padding: 0;
    margin: 0;
}
#tacotitle {
    grid-area: tacotitle;
    text-align: center;
}
#tacoimage {
    grid-area: tacoimage;
    width: 100%;
}
#tacotext {
    grid-area: tacotext;
    margin: 0 10px;
}
#maketaco {
    background-color: #F2F2F2;
    grid-area: maketaco;
    display:grid;
    grid-template-columns: 20% 80%;
    grid-template-areas:
        "ingredients directions";
}
#maketaco h2 {
    text-align: center;
}
#maketaco li{
    text-align: left;
    margin: 20px 0px;
}
/* header */
header {
    grid-area: header;
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin: 0;
}
header ul {
    margin: 0;
}
header a {
    margin: 0;
}
#logo {
    background-color: #EB5428;
    height: 100%;
    width: 90px;
}
nav {
    display: nav;
}
#logo svg {
    width: 100%;
    height: 100%;
}
nav ul {
    padding: 0;
}
nav ul {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    align-items: center;
}

nav ul li:first-child {
    justify-self: start;
    grid-column: span 2;
}
nav ul li:last-child {
    justify-self: end;
    grid-column: span 2;
}
 
nav img {
    width: 50px;
}
ul li {
    flex-basis: 0;
    flex-grow: 999;
    flex-shrink: 1;
    text-align: center;
}
nav h2 {
    display: none;
}
#hamburger {
    display: none;
}
label[for="hamburger"] {
    display: none;
}
article {
    background-color: #F2F2F2;
}
aside {
    background-color: #7ABFBF;
}
/* details */
#details {
    grid-area: details;
    background-color: #0D0D0D;
    color: #7ABFBF;
    text-align: center;
    width: 100%;
}
#details dl{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#ingredients {
    grid-area: ingredients;
}
#directions {
    grid-area: directions;
    margin: 0 20px;
}
#directions, #ingredients {
    background-color: #F2F2F2;
}
#search {
    grid-area: search;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    width: 100%;
}
#search div {
    width: 400px;
    border: 2px solid #EB5428;
    height: 50px;
    display: flex;
    align-items: center;
}
#search input {
    flex-grow: 1;
    height: 100%;
    border: none;
    outline: none;
    background: white;
    padding: 0 10px;
}
#search button {
    width: 50px;
    height: 100%;
    background-color: #EB5428;
    color: white;
    border: none;
    outline: none;
}
#search h3 {
    display: none;
}
#search button {
    background-color: #EB5428;
    border: 0;
}
#dishes {
    grid-area: dishes;
    text-align: center;
    padding: 0 20px;
}
#dishes ul{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 0;
}
#dishes p {
    margin: 0px 10px;
}
#dishes img {
    width: 100%;
}
dd {
    margin-left: 0;
    text-indent: 0;
}
.dish {
    text-align: left;
    margin: 0 20px;
}
.dish dd:last-child {
    font-weight: bold;
}
footer {
    grid-area: footer;
    background-color: white;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "copyright social";
    padding: 40px 0px 20px 10px;
    align-items: top;
    width: 100%;
}
footer img {
    width: 150px;
}
footer h2{
    display: none;
}
footer h2, footer h3 {
    display: none;
}
#social {
    grid-area: social;
}
a {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    text-align: center;
    align-items: top;
}
#social ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
}
#copyright {
    grid-area: copyright;
    display: flex;
    align-items: top;
    flex-direction: row-reverse;
    justify-content: left;
}
#copyright div {
    text-align: center;
    margin-top: 10px;
}
#copyright div p {
    margin:0;
}

/* media */

@media screen and (min-width:768px) and (max-width: 1279px) {
    .wrapper {
        max-width: 768px;
        grid-template-areas:
            "search"
            "header"
            "main"
            "footer";
    }
    nav ul {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        align-items: center;
    }
    nav ul li {
        margin-bottom: 10px;
    }
    nav ul li:first-child {
        justify-self: start;
        grid-column: span 1;
        grid-row: 1;
    }
    nav ul li:last-child {
        justify-self: end;
        grid-column: span 1;
        grid-row: 1;
        grid-column: 7;
    }
    nav ul li:not(nav ul li:first-child):not(nav ul li:last-child) {
        grid-row: 2;
    }    
    #search {
        position: sticky;
        top: 0;
        height: 0;
        padding: 0;
        z-index: 2;
        display: flex;
        justify-content: flex-end;
    }
    #tacotitle {
        text-align: left;
    }
    #search div {
        margin: 20px 100px; 
        background-color: white;
        z-index: 2;
    }
    #tacoshell {
        display:grid;
        grid-area: tacoshell;
        grid-template-columns: 100%;
        grid-template-areas:
        "menu"
        "tacoimage" 
        "tacotext";
    }
    menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.6);
        grid-area: menu;
        z-index: 2;
        min-height: 100px;
        padding: 20px 80px;
    }
    menu svg {
        background-color: transparent;
    }
    #details {
        background-color: #F2F2F2;
        color: #0D0D0D;
    }
    #details dl {
        display: flex;
        flex-direction: column;
    }
    #details dt {
        margin: 0 10px;
    }
    #details div {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        align-items: top;
    }
    #dishes ul{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
        padding: 0;
        margin: 0;
    }
    #dishes {
        padding: 0;
        margin: 0;
    }
    #dishes p {
        margin: 0px;
    }
    .dish {
        display: grid;
        grid-template-columns: 25% 75%;
        padding: 0;
        grid-template-areas: 
            "dishimage dishtitle"
            "dishimage dishdescription"
            "dishimage dishrating";
        margin: 10px 0;
        column-gap: 20px;
    }
    .dish img {
        grid-area: dishimage;
    }
    .dish h3 {
        grid-area: dishtitle;
        margin: 0;
    }
    .dish p:first-of-type {
        grid-area: dishdescription;
    }
    .dish p:last-of-type {
        grid-area: dishrating;
        margin: 0;
    }
    #copyright {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 767px) {
    .wrapper {
        max-width: 414px;
        grid-template-areas:
            "header"
            "search"
            "main"
            "footer";
    }
    nav ul {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        align-items: center;
    }
    nav ul li:first-child {
        justify-self: center;
        grid-column: 2;
        background-color: #EB5428;
        width: 100%;
    }
    nav ul li:last-child {
        justify-self: center;
        grid-column: 3;
    }
    #tacoshell {
        display:grid;
        grid-area: tacoshell;
        grid-template-columns: 100%;
        grid-template-areas:
        "menu"
        "tacoimage" 
        "tacotext";
    }
    menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border: 0;
        width: 100%;
        height: 100%;
        background-color: #F2F2F2;
        grid-area: menu;
        padding: 0px 60px;
        margin: 0;
    }
    menu svg {
        background-color: transparent;
    }
    #details {
        background-color: #F2F2F2;
        color: #0D0D0D;
    }
    #details dl {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    #details dt {
        margin: 0 10px;
    }
    #details div {
        display: flex;
        flex-direction: row;
        align-items:start;
        text-align: left;
    }
    #maketaco {
        background-color: #F2F2F2;
        grid-area: maketaco;
        display:grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto;
        grid-template-areas:
            "ingredients" "directions";
    }

    #dishes ul{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        padding: 0 10px;
        margin: 0;
    }
    #dishes {
        padding: 0;
        margin: 0;
    }
    #dishes p {
        margin: 0px;
    }
    .dish {
        display: grid;
        grid-template-columns: 25% 75%;
        padding: 0;
        grid-template-areas: 
            "dishimage dishtitle"
            "dishimage dishdescription"
            "dishimage dishrating";
        margin: 10px 0;
        column-gap: 20px;
    }
    .dish img {
        grid-area: dishimage;
    }
    .dish h3 {
        grid-area: dishtitle;
        margin: 0;
    }
    .dish p:first-of-type {
        grid-area: dishdescription;
    }
    .dish p:last-of-type {
        grid-area: dishrating;
        margin: 0;
    }

    /* hamburger */
    nav ul li:not(:first-child):not(:last-child) {
        display: none;
    }
    label[for="hamburger"] {
        display: block;
        position: sticky;
        height:0;
        padding: 0;
        z-index: 2;
        top: 15px;
        margin-left: 20px;
    }
    label span{
        display: block;
        margin: 0 3px;
    }
    #hamburger:checked ~ ul li {
        display: block;
    }

    /* social */
    #social {
        width: 100%;
    }
    #social ul {
        padding: 0;
        width: 100%;
    }
    footer {
        grid-area: footer;
        background-color: white;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr;
        grid-template-areas: "social" "copyright";
        align-items: top;
        justify-content: center;
        padding: 0;
        padding: 20px 0;
    }

    #copyright {
        margin-top: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        flex-direction: column-reverse;
    }
}